<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <th>ID</th>
            <th>Main</th>
            <th>Date</th>
            <th>Place</th>
            <th>Link</th>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    <td>{{ x.E_id }}</td>
                    <td>{{ x.main_topic }}</td>
                    <td>{{ x.date }}</td>
                    <td>{{ x.place }}</td>
                    <td><a href="{% url 'page' x.E_id %}">link</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add' %}">Add</a>
    
</body>
</html>