{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/Home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>
    <div class="A">
        <h1>Home</h1>
    </div>
    <div class="B">
        <div class="btns" style="display: none;">
            <div><button style="font-weight: bolder;" onclick="run()">Social Media</button></div>
            <div><button style="font-weight: bolder;"  onclick="run()">Projects</button></div>
            <div><button style="font-weight: bolder;"  onclick="run()">IDK</button></div>
        </div>

        <div class="socialM">
            <div>
                <img class="img1 G" onmouseover="image(1)"  src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" alt="">
            </div>
            <div>
                <img class="img1 I" onmouseover="image(2)"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1025px-Instagram-Icon.png" alt="">
            </div>
            <div>
                <img class="img1 K" onmouseover="image(3)" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Kaggle_logo.png?20140912155123" alt="">
                <img class="img2" src="https://storage.googleapis.com/kaggle-avatars/images/13164392-kg.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="C">
        Design alpha for main home page of portfolio website <br><h1>By leonado10000</h1>
    </div>
</body>
</html>